In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/external/data_hospitals_100k_who.csv')

In [3]:
df.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,DEVICES00,Total density per 100 000 population: Hospitals,numeric,WPR,Western Pacific,Country,TUV,Tuvalu,Year,2014,...,NaN,NaN,NaN,NaN,NaN,0.02,NaN,Only public sector data,EN,2016-01-27T23:00:00.000Z
1,DEVICES00,Total density per 100 000 population: Hospitals,numeric,EUR,Europe,Country,MKD,The former Yugoslav Republic of Macedonia,Year,2014,...,NaN,NaN,NaN,NaN,NaN,4.08,NaN,NaN,EN,2016-01-27T23:00:00.000Z
2,DEVICES00,Total density per 100 000 population: Hospitals,numeric,WPR,Western Pacific,Country,FJI,Fiji,Year,2013,...,NaN,NaN,NaN,NaN,NaN,0.00,NaN,Both public sector data and private sector data,EN,2015-03-30T22:00:00.000Z
3,DEVICES00,Total density per 100 000 population: Hospitals,numeric,WPR,Western Pacific,Country,KIR,Kiribati,Year,2013,...,NaN,NaN,NaN,NaN,NaN,0.00,NaN,Both public sector data and private sector data,EN,2015-03-30T22:00:00.000Z
4,DEVICES00,Total density per 100 000 population: Hospitals,numeric,AMR,Americas,Country,VCT,Saint Vincent and the Grenadines,Year,2013,...,NaN,NaN,NaN,NaN,NaN,0.00,NaN,Both public sector data and private sector data,EN,2015-03-30T22:00:00.000Z

In [4]:
df_cleaned = df[['ParentLocation','Location','Period','Value']]
df_cleaned = df_cleaned.rename(columns = {'Location':'Country', 'Value':'Ratio_hosp_100k'})
df_cleaned

,ParentLocation,Country,Period,Ratio_hosp_100k
0,Western Pacific,Tuvalu,2014,0.02
1,Europe,The former Yugoslav Republic of Macedonia,2014,4.08
2,Western Pacific,Fiji,2013,0.00
3,Western Pacific,Kiribati,2013,0.00
4,Americas,Saint Vincent and the Grenadines,2013,0.00
...,...,...,...,...
132,Americas,Saint Kitts and Nevis,2013,7.38
133,Europe,Belarus,2013,7.45
134,Europe,Cyprus,2013,7.54
135,Europe,Azerbaijan,2013,7.97
136,Western Pacific,Nauru,2013,9.95

In [5]:
df_cleaned[df_cleaned['ParentLocation'] == 'Africa']

    ParentLocation                           Country  Period  Ratio_hosp_100k
6           Africa                           Senegal    2013             0.16
8           Africa                          Ethiopia    2013             0.22
10          Africa                      Burkina Faso    2013             0.31
13          Africa                           Eritrea    2013             0.36
16          Africa                            Guinea    2013             0.37
17          Africa                           Liberia    2013             0.37
20          Africa                            Malawi    2013             0.40
21          Africa                            Uganda    2013             0.40
22          Africa                             Benin    2013             0.41
24          Africa  Democratic Republic of the Congo    2013             0.45
25          Africa                            Zambia    2013             0.45
26          Africa                              Mali    2013             0.46
28          Africa                        Madagascar    2013             0.47
30          Africa          Central African Republic    2013             0.48
31          Africa                           Burundi    2013             0.50
33          Africa                          Zimbabwe    2013             0.52
35          Africa                             Niger    2013             0.55
38          Africa                              Togo    2013             0.60
41          Africa                              Chad    2013             0.65
42          Africa                      South Africa    2013             0.67
43          Africa                           Comoros    2013             0.68
44          Africa                            Gambia    2013             0.70
47          Africa                          Cameroon    2013             0.79
48          Africa                          Eswatini    2013             0.80
56          Africa                         Mauritius    2013             0.96
57          Africa                        Cabo Verde    2013             1.00
61          Africa                        Mauritania    2013             1.03
67          Africa                        Seychelles    2013             1.08
72          Africa                          Botswana    2013             1.29
77          Africa                             Ghana    2013             1.36
80          Africa                             Kenya    2013             1.47
89          Africa                     CÃ´te dâ€™Ivoire    2013             1.71
93          Africa                           Namibia    2013             1.91
119         Africa                             Gabon    2013             3.53
129         Africa                     Guinea-Bissau    2013            56.45

In [6]:
countries = [
    "Angola",
    "Burundi",
    "Cameroon",
    "Central African Republic",
    "Chad",
    "Democratic Republic of the Congo",
    "Equatorial Guinea",
    "Gabon",
    "Republic of the Congo",
    "Rwanda",
    "SÃ£o TomÃ© and PrÃ­ncipe"
]

In [7]:
# Filtering for central Africa
df_central = df_cleaned[df_cleaned['Country'].isin(countries)]
df_central = df_central.iloc[:, 1:]
df_central

                              Country  Period  Ratio_hosp_100k
24   Democratic Republic of the Congo    2013             0.45
30           Central African Republic    2013             0.48
31                            Burundi    2013             0.50
41                               Chad    2013             0.65
47                           Cameroon    2013             0.79
119                             Gabon    2013             3.53

In [8]:
# comparison with data from Wikipedia
df_mfp = pd.read_csv('medical_facilities_population.csv')
df_mfp

                             Country  Medical Facilities  Population (1,000)
0                             Angola                1575               24383
1                            Burundi                 665                9824
2                           Cameroon                3061               21918
3           Central African Republic                 555                3859
4                               Chad                1283               11040
5   Democratic Republic of the Congo               14586              102561
6              Republic of the Congo                 328                3697
7                  Equatorial Guinea                  47                1222
8                              Gabon                 542                1802
9                             Rwanda                 572               10516
10             SÃ£o TomÃ© and PrÃ­ncipe                  50                 202

In [9]:
df_merged = pd.merge(df_mfp,df_central, how = 'outer')

In [10]:
df_merged

,Country,Medical Facilities,"Population (1,000)",Period,Ratio_hosp_100k
0,Angola,1575,24383,NaN,NaN
1,Burundi,665,9824,2013.0,0.50
2,Cameroon,3061,21918,2013.0,0.79
3,Central African Republic,555,3859,2013.0,0.48
4,Chad,1283,11040,2013.0,0.65
5,Democratic Republic of the Congo,14586,102561,2013.0,0.45
6,Republic of the Congo,328,3697,NaN,NaN
7,Equatorial Guinea,47,1222,NaN,NaN
8,Gabon,542,1802,2013.0,3.53
9,Rwanda,572,10516,NaN,NaN
10,SÃ£o TomÃ© and PrÃ­ncipe,50,202,NaN,NaN

In [11]:
df_merged['hospitals'] = df_merged['Population (1,000)']/100*df_merged['Ratio_hosp_100k']

In [12]:
df_merged

,Country,Medical Facilities,"Population (1,000)",Period,Ratio_hosp_100k,hospitals
0,Angola,1575,24383,NaN,NaN,NaN
1,Burundi,665,9824,2013.0,0.50,49.1200
2,Cameroon,3061,21918,2013.0,0.79,173.1522
3,Central African Republic,555,3859,2013.0,0.48,18.5232
4,Chad,1283,11040,2013.0,0.65,71.7600
5,Democratic Republic of the Congo,14586,102561,2013.0,0.45,461.5245
6,Republic of the Congo,328,3697,NaN,NaN,NaN
7,Equatorial Guinea,47,1222,NaN,NaN,NaN
8,Gabon,542,1802,2013.0,3.53,63.6106
9,Rwanda,572,10516,NaN,NaN,NaN
10,SÃ£o TomÃ© and PrÃ­ncipe,50,202,NaN,NaN,NaN

In [13]:
#Extracting number hospitals from Wikipedia data

df_list_hospital = pd.read_csv('hospitals_list.csv')
df_list_hospital

    Country                                      Hospital Name
0    Angola                             Bongo Mission Hospital
1    Angola                         Cajueiros General Hospital
2    Angola                                ClÃ­nica Multiperfil
3    Angola  Hospital Our Lady of Peace (Nossa Senhora da P...
4    Angola                             Josina Machel Hospital
..      ...                                                ...
341   Gabon              Benjamin Ngoubou Hospitalier Regional
342   Gabon                     Tchibanga Hospitalier Regional
343   Gabon                  Amissa Bongo Hospitalier Regional
344   Gabon          Sino Gabonaise Hopital Cooperation Mpassa
345   Gabon                          HÃ´pital Albert Schweitzer

[346 rows x 2 columns]

In [14]:
df_grouped = df_list_hospital.groupby('Country').size().reset_index()
df_grouped

             Country    0
0             Angola   45
1            Burundi    9
2           Cameroon  222
3  Equatorial Guinea   47
4              Gabon   23

In [15]:
df_grouped = df_grouped.rename(columns = {0:'n_hospitals_wiki'})
df_grouped

             Country  n_hospitals_wiki
0             Angola                45
1            Burundi                 9
2           Cameroon               222
3  Equatorial Guinea                47
4              Gabon                23

In [16]:
df_merged = pd.merge(df_merged,df_grouped, how='outer')
df_merged

,Country,Medical Facilities,"Population (1,000)",Period,Ratio_hosp_100k,hospitals,n_hospitals_wiki
0,Angola,1575,24383,NaN,NaN,NaN,45.0
1,Burundi,665,9824,2013.0,0.50,49.1200,9.0
2,Cameroon,3061,21918,2013.0,0.79,173.1522,222.0
3,Central African Republic,555,3859,2013.0,0.48,18.5232,NaN
4,Chad,1283,11040,2013.0,0.65,71.7600,NaN
5,Democratic Republic of the Congo,14586,102561,2013.0,0.45,461.5245,NaN
6,Republic of the Congo,328,3697,NaN,NaN,NaN,NaN
7,Equatorial Guinea,47,1222,NaN,NaN,NaN,47.0
8,Gabon,542,1802,2013.0,3.53,63.6106,23.0
9,Rwanda,572,10516,NaN,NaN,NaN,NaN
10,SÃ£o TomÃ© and PrÃ­ncipe,50,202,NaN,NaN,NaN,NaN

In [17]:
#Estracting data from external website csv
df_external = pd.read_csv('../data/external/who-cds-gmp-2019-01-eng.csv')
df_external

,Country,Admin1,Facility name,Facility type,Ownership,Lat,Long,LL source
0,Angola,Bengo,Hospital Barra Do Dande,Hospital,Govt.,-8.6560,13.4919,Google Earth
1,Angola,Bengo,Hospital Dos Dembos,Hospital,Govt.,-8.5026,14.5862,Google Earth
2,Angola,Bengo,Hospital Municipal de Ambriz,Municipal Hospital,Govt.,-7.8522,13.1307,Google Earth
3,Angola,Bengo,Hospital Municipal de Bula Atumba,Municipal Hospital,Govt.,-8.6742,14.7925,Google Earth
4,Angola,Bengo,Hospital Municipal de Dande,Municipal Hospital,Govt.,-8.5835,13.6569,Google Earth
...,...,...,...,...,...,...,...,...
98740,Zimbabwe,Midlands,Zhombe Rural Hospital,Rural Hospital,FBO,-18.7034,29.3849,GPS
98741,Zimbabwe,Midlands,Zvamabande Rural Health Clinic,Rural Health Clinic,MoH,-19.8018,30.1359,GPS
98742,Zimbabwe,Midlands,Zvarota Rural Health Clinic,Rural Health Clinic,MoH,-19.5565,30.2212,GPS
98743,Zimbabwe,Midlands,Zvishavane District Hospital,District Hospital,MoH,-20.3058,30.0524,GPS
98744,Uganda,Eastern,Jinja Regional Referral Hospital,Hospital,MoH,0.4302,33.2108,Other

In [18]:
df_external_central = df_external[df_external['Country'].isin(countries)]
df_external_central

,Country,Admin1,Facility name,Facility type,Ownership,Lat,Long,LL source
0,Angola,Bengo,Hospital Barra Do Dande,Hospital,Govt.,-8.6560,13.4919,Google Earth
1,Angola,Bengo,Hospital Dos Dembos,Hospital,Govt.,-8.5026,14.5862,Google Earth
2,Angola,Bengo,Hospital Municipal de Ambriz,Municipal Hospital,Govt.,-7.8522,13.1307,Google Earth
3,Angola,Bengo,Hospital Municipal de Bula Atumba,Municipal Hospital,Govt.,-8.6742,14.7925,Google Earth
4,Angola,Bengo,Hospital Municipal de Dande,Municipal Hospital,Govt.,-8.5835,13.6569,Google Earth
...,...,...,...,...,...,...,...,...
76057,Rwanda,West,Rwankeri Health Centre,Health Centre,Public,-1.5860,29.5344,GPS
76058,Rwanda,West,Rwinzuki Health Centre,Health Centre,Public,-2.6383,28.9348,Geonames
76059,Rwanda,West,Shyira District Hospital,District Hospital,Public,-1.6820,29.6291,GPS
76060,Rwanda,West,Shyira Health Centre,Health Centre,Public,-1.6790,29.5208,GPS
76061,Rwanda,West,Yove Health Centre,Health Centre,Public,-2.4066,29.1992,GPS

In [20]:
df_external_central.to_csv('../data/processed/central_Africa_hospitals.csv')

In [ ]:
df_extracted= df_external_central.groupby('Country').size().reset_index().rename(columns = {0:'n_hosp_2019'})
df_extracted

In [ ]:
df_merged = pd.merge(df_merged,df_extracted, how='outer')
df_merged